<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.usinasantafe.pca">

    <application
        android:name=".PCAContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.DigColabActivity"></activity>
        <activity android:name=".view.LeitorColabActivity" />
        <activity android:name=".view.ListaOcorAtendActivity" />
        <activity android:name=".view.ListaLocalDestinoActivity" />
        <activity android:name=".view.ListaLocalSaidaActivity" />
        <activity android:name=".view.KilometragemActivity" />
        <activity android:name=".view.ListaAmbulanciaActivity" />
        <activity android:name=".view.ConfigActivity" />
        <activity android:name=".view.SenhaActivity" />
        <activity
            android:name=".view.DigUsuarioActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.LeitorUsuarioActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.MenuInicialActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>